{% extends "base.html" %}
{% block title%}Login{% endblock %}


{% block content %}
	<form action="" method="post">
    	{{ form.csrf_token }}
	    <p>
	    	{{ form.login.label() }}
	    	{{ form.login() }}
	    	{% if form.login.errors %}
				{% for error in form.login.errors %}
			    	{{ error }}
				{% endfor %}
		    {% endif %}
	    </p>
	    <p>
	    	{{ form.password.label() }}
	    	{{ form.password() }}
	    	{% if form.password.errors %}
				{% for error in form.password.errors %}
				    {{ error }}
				{% endfor %}
		    {% endif %}
	    </p>
		<p>
			{{ form.remember.label() }}
			{{ form.remember() }}
		</p>
		<p>
		    {{ form.submit() }}
		</p>
	</form>
{% endblock %}